<p>
  <strong>タイトル:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>URL:</strong>
  <%= link_to @post.url, @post.url unless @post.url.blank? %>
</p>

<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '一覧に戻る', posts_path %>
